<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="SubSimProcessors" type="Brain.Config.SubSimProcessorConfigSection, Brain"/>
    <section name="Activations" type="Brain.Config.MemoryActivationConfigSection, Brain" />
  </configSections>
  <SubSimProcessors>
    <ProcessorConfigurations>
      <add name="motion" type="Brain.CSubSimProcessorMotion" assembly="Brain" run="true" />
      <add name="voice" type="Brain.CSubSimProcessorVoice" assembly="Brain" run="true" />
      <!--<add name="hearing" type="Brain.CSubSimProcessorHearing" assembly="Brain" run="true" />-->
      <!--<add name="choice" type="Brain.CSubSimProcessorChoice" assembly="Brain" run="true" />-->
      <add name="language" type="SubSimProcessorLanguage.CSubSimProcessorLanguage" assembly="SubSimProcessorLanguage" run="true" />
      <!--<add name="faces" type="Brain.CSubSimProcessorFace" assembly="Brain" run="true" />
      <add name="templatematch" type="Brain.CSubSimProcessorTemplateMatch" assembly="Brain" run="true" />
      <add name="blobs" type="Brain.CSubSimProcessorBlobs" assembly="Brain" run="true" /> 
      <add name="moments" type="Brain.CSubSimProcessorMoments" assembly="Brain" run="true" />
      <add name="imagecorrelation" type="Brain.CSubSimProcessorImageCorrelation" assembly="Brain" run="true" />-->
      <!--<add name="points" type="Brain.CSubSimProcessorPoints" assembly="Brain" run="true" />
      <add name="linesegment" type="Brain.CSubSimProcessorLineSegment" assembly="Brain" run="true" input="Points" />
      <add name="line" type="Brain.CSubSimProcessorLine" assembly="Brain" run="true" input="LineSegment" />
      <add name="intersect" type="Brain.CSubSimProcessorIntersect" assembly="Brain" run="true" input="Line" />
      <add name="corner" type="Brain.CSubSimProcessorCorner" assembly="Brain" run="true" input="Intersect" />
      <add name="gap" type="Brain.CSubSimProcessorGap" assembly="Brain" run="true" input="Line" />
      <add name="region" type="Brain.CSubSimProcessorRegion" assembly="Brain" run="true" input="Corner,Gap" />-->
    </ProcessorConfigurations>
  </SubSimProcessors>
  <Activations>
    <ActivationParameters>
    </ActivationParameters>
  </Activations>
  <appSettings>
    <add key="AutoOpenGoalEdit" value="true" />
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <!--  
		Below are example options for configuring the brain. You may specify some or all of the options.
		For options that specify a file or collections of files you may specify the full or absolute 
		paths delimited by commas.
		
		<add key="Mind" value="TestMind.dat" />
		
		<add key="Connection" value="Serial" />
		
		<add key="Connection" value="Simulator" />
		<add key="Map" value="Maps\Lab.map" />
		
		<add key="Connection" value="Network" />
		<add key="IPAddress" value="192.168.2.7" />
		<add key="RobotPort" value="8101" />
		<add key="LaserPort" value="8102" />
		<add key="UseStereoCamera" value="true" />
		<add key="StereoCameraPort" value="8103" />
		<add key="UsePTZCamera" value="true" />
		<add key="PTZCameraPort" value="8104" />
		
    <add key="Facts" value="Facts Test.txt,C:\MyFacts.txt" />
		<add key="Goals" value="SceneTest.rbx,gWanderAround.goal" />
		<add key="Concepts" value="Building Concepts.txt,World.txt" />
		<add key="EnableAttention" value="true" /> 
    <add key="AutoOpenGoalEdit" value="true" />
    <add key="Goals" value="Goals\gTestlog.goal" />
		
    
    <add key="hpUsersManual.HelpNamespace" value="(None)" />
    <add key="RobotType" value="Packbot"/>
    <add key="Connection" value="network" />
    <add key="IPAddress" value="192.168.75.2" />
    <add key="RobotPort" value="14171" />
    <add key="LaserPort" value="8101" />
    -->
    
    <add key="hpUsersManual.HelpNamespace" value="(None)" />
    <add key="RobotType" value="Pioneer"/>
    <add key="Connection" value="Simulator" />
    <add key="Map" value="Maps\Lab.map" />
    <!--<add key="UsePTZCamera" value="true" />
    <add key="PTZCameraType" value="AVI File" />-->
    

  </appSettings>
</configuration>